/**
 * Float Layout Activity
 **/

body {
  /*  box-sizing: border-box;*
    text-align: justify; */
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    justify-content: space-between;
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/gravel.png");
  }

header{
    background-color: #ffffff;
    border-color: #cccccc; 
    font-family:Georgia, 'Times New Roman', Times, serif; 
}
 
.container-1 {
    position: relative;
   /* margin-left: 10%;
    margin-right: 10%; */
    font-weight:lighter;
    text-align: center;
    }


.name{
    float: left; 
    margin-left:4%;
    font-weight: bolder;
    font-size: 30px;
    background-color: teal;
    color:white;
    text-align: left;
    padding: 0px;
}
  
h1{
    color: teal;
    margin-left:4%;
    padding-top: 15px;
    margin-bottom: 0%;
}

.about{
    position: absolute;
    margin-left: 50%;
    margin-top: 2%;
}


.portfolio{
    position: absolute;
    margin-left: 60%;
    margin-top: 2%;
}

.contact{
    position: absolute;
    margin-left: 70%;
    margin-top:2%;
}

.description{
    color: black;
    height: auto;
    overflow:auto;
    bottom: -100px;
    flex:1;
}

.imgIndexPage {
    float: left;
    margin-right: 2%;
}

.wrapper{
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/gravel.png");

}

.navhover a:hover {
color: blue;
background-color: grey;
}

footer{
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 50px;
    width: 100%;
    text-align: center;
    background-color: #666666;
}

hr {
    /*display: block;*/
    height: 3px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 0;
    padding: 0;
}


.container-2{
    margin-left: 3.3%
}

.imgPortfolio{
    width:300px;
    height:250px;
    padding: 15px; 
}

.imgContainer1{
    float: left;
    position:relative; 
    margin-left: 3%;
}

.imgContainer2{
    float:left;
    position:relative;
    margin-left: 3%;
}

.imgContainer3{
    float: left;
    position:relative;
    margin-left: 3%;
}  

.imgContainer4{
    float:left;
    position:relative;
    margin-left: 3%;
}

.imgContainer5{
    float: left;
    position:relative;
    margin-left: 3%;
}  

.centered {
    position: absolute;
    top: 80%;
    bottom:10%;
    left:4.7%;
    width: 90.5%;
    background-color: teal;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
  /*  margin: 3px auto; */
    color:white;
  
}


@media only screen and (max-width: 980px) {
    .container-1 {
        height:40px;
        width: 85%;;
        margin-left: 3%;
        }
    .description{
        background-color: #ffffff;
        margin-left: 3%;
        margin: 1% auto;
        width:85%;
        }

        .name{
            float: left; 
            margin-left:5%;
            font-weight: bolder;
            font-size: 30px;
            background-color: teal;
            color:white;
            text-align: left;
            padding: 0px;
        }
        .about{
            position: absolute;
            margin-left: 83%;
            margin-top: 2%;
        }
        
        
        .portfolio{
            position: absolute;
            margin-left: 90%;
            margin-top: 2%;
        }
        
        .contact{
            position: absolute;
            margin-left: 98%;
            margin-top:2%;
        }
}

@media only screen and (max-width: 768px) {
    .container-1 {
        height:30px;
        width:95%;
        margin-left: 3%;
        }
    .description{
        background-color: #ffffff;
        margin-left: 5%;
        margin: 1% auto;
        width:95%;  
        }   

    .name{
            float: left; 
            margin-left:0%;
            font-weight: bolder;
            font-size: 25px;
            background-color: teal;
            color:white;
            text-align: left;
            padding: 0px;
        }

    .about{
            position: absolute;
            margin-left: 65%;
            margin-top: 2%;
        }
        
        
        .portfolio{
            position: absolute;
            margin-left: 74%;
            margin-top: 2%;
        }
        
        .contact{
            position: absolute;
            margin-left: 87%;
            margin-top:2%;
        }
           
}

@media only screen and (max-width: 640px) {
    .container-1 {
     /*   overflow: auto;*/
        background-color: #ffffff;  
        height:30px;
        width:95%;
        margin-left: 3%;
        position:fixed;
        top:0;
        }
    .description{
        background-color: #ffffff;
        margin-left: 5%;
    /*    margin-bottom: 0%;  */
        margin: 1% auto;
        width:90%;
        }   
 
    .name{
            float: left; 
            margin-left:2%;
            font-weight: bolder;
            font-size: 20px;
            background-color: teal;
            color:white;
            text-align: left;
            padding: 0px;
        }
        

.about{
    position: absolute;
    margin-left: 65%;
    margin-top: 2%;
}


.portfolio{
    position: absolute;
    margin-left: 74%;
    margin-top: 2%;
}

.contact{
    position: absolute;
    margin-left: 87%;
    margin-top:2%;
}
             
}

@media only screen and (min-width: 981px){
    .container-1 {
        height:40px;
        width:85%;
        margin-left: 5%;
        }
        
    .description{
        background-color: #ffffff;
        margin-left: 15%;
    /*    margin-bottom: 0%;  */
        margin: 1% auto;
        width:85%;
        }

    .name{
            float: left; 
            margin-left:3%;
            font-weight: bolder;
            font-size: 40px;
            background-color: teal;
            color:white;
            text-align: left;
            padding: 0px;
        }

    
    .about{
            position: absolute;
            margin-left: 73%;
            margin-top: 2%;
        }
        
        
    .portfolio{
            position: absolute;
            margin-left: 78%;
            margin-top: 2%;
        }
        
    .contact{
            position: absolute;
            margin-left: 85%;
            margin-top:2%;
        }        

}